.item {
  list-style: none;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.university {
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: var(--accentColor);
}

.education {
  margin-bottom: 5px;
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  transition: all 250ms var(--timingFn);
}

.education:hover,
.education:focus {
  color: var(--accentColor);
}

.time {
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondaryTextColor);
}

.divider {
  color: #000000;
}
