.sidebar {
  width: 600px;
  padding: 20px;
  background: #1e2939;
}

.photo {
  border-radius: 50%;
}

.section {
  margin-top: 20px;
}

.title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

.text {
  font-size: 14px;
  line-height: 1.5;
  color: #c2c5c9;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 250ms var(--timingFn);
  color: #fff;
  background-color: var(--accentColor);
  border: 2px solid var(--accentColor);
  border-radius: 25px;
}

.link:hover,
.link:focus {
  color: var(--accentColor);
  background-color: transparent;
}
